body {
    background-color: rgb(255, 204, 45);
    margin: 0;
}
div {
    margin-bottom: 20px;
    text-align: justify;
}

.header {
    display: flex;
    width: 100vw;
    border-bottom: 1px solid rgb(255, 204, 45);
    color: rgb(0, 0, 0);
    height: 55px; 
    overflow: hidden;
    margin-bottom: 40px;
    align-items: center;
    font-size: larger;
}

.links {
    text-decoration: none;
    box-sizing: border-box;
    padding: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    position: absolute; 
    height: 55px;
    display: inline-block;
    border-right: 1px solid rgb(231, 231, 231);
    font-weight: bold;
}
.links:hover {
    color: rgb(26, 26, 26);
    background-color: rgb(241, 241, 241);
}

.selectList-container {
    left: 0px;
    right: 0px;

    display: flex;
    justify-content: center;
}

.selectList-button {
    margin: 0px;
}

.selectList {
    padding: 0px;
    margin: 0px;
    width: 100px !important;
    text-align: center;
}

.selectList > .item {
    margin: 0px;
    padding: 0px;
}

.submitInput {
    padding: 10px 15px;
    background-color: rgba(214,57,48,255);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.labels {
    margin: 10px 15px;
}


.labelHome {
    border: 1px outset black;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    padding: 6px;
    background-color:rgb(238, 238, 238);
}
.divHome {
    display: flex;
    width: 98%;
    justify-content:center;
    align-items:center;
    margin-bottom: 10px;
}
.dateInputs {
    padding: 8px;
}

.recordDiv {
    border: 2px solid rgb(64, 65, 63);
    display: flex;
    margin: 0 auto;
    margin-bottom:10px;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 15px;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
}

.recordDiv1 {
    border: 2px solid rgb(64, 65, 63);
    display: flex;
    margin: 0 auto;
    margin-bottom:10px;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
}

.sliderMarker {
    border: 2px solid rgb(64, 65, 63);
    display: flex;
    margin: 0 auto;
    margin-bottom:10px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 600px;
    padding: 15px;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
}

#map { 
    height: 480px; 
}

h1 {
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: #111;
}

dl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: absolute;
    top: 0;
}

ld {
    float: left;
    border-right:1px solid #bbb;
}

ld:last-child {
    border-right: none;
}

ld a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 22px;
    text-decoration: none;
}

ld a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgba(214,57,48,255);
}

.responsive {
    width: 100%;
    height: auto;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
  
a.blancos:link {
    color: #ffffff;
}
  
a.blancos:visited {
    color: #ffffff;
}

a.negros:link {
    color: #000000;
    font-size: 150%;
}
  
a.negros:visited {
    color: #000000;
    font-size: 150%;
}

#copyright {
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

.image-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}
  
.something-img {
    width: 100%;
    height: auto;
}
  
.something-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 85%;
} 

/* .container {
    position: relative;
   
}
  

.text-block {
    position: sticky;
    text-align: center;
    bottom: 50%;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.585);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
} */